:root {
  --checkerboard-pattern: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255,255,255,.2) 25%,
    rgba(255,255,255,.2) 75%,
    transparent 75%,
    transparent
  );
  --dots-pattern: radial-gradient(rgba(255,255,255,.2) 25%, transparent 25%);
}

.checkerboard {
  background-image: var(--checkerboard-pattern), var(--checkerboard-pattern);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}

.dots {
  background-image: var(--dots-pattern), var(--dots-pattern);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}

.stripes {
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 11px,
    rgba(255,255,255,.2) 11px,
    rgba(255,255,255,.2) 22px
  );
}
